<template>
  <div>
    <todo-list></todo-list>
    <div class="d-flex justify-center mt-2">
      <!-- <v-btn color="primary" @click="createTodo()">+ Create</v-btn> -->
      <v-dialog v-model="showToDoModal" max-width="500px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">
            + Create
          </v-btn>
        </template>
        <v-card class="p-2">
          <label>Title: </label>
          <v-text-field
            placeholder="Input the title"
            outlined
            class="mt-1"
            v-model="form.title"
          ></v-text-field>
          <v-spacer></v-spacer>
          <label>Description: </label>
          <v-textarea
            placeholder="Input the description"
            outlined
            class="mt-1"
            v-model="form.description"
          ></v-textarea>
          <div class="d-flex align-center justify-space-between">
              <v-btn color="error" width="150px" @click="showToDoModal = false"> Cancel </v-btn>
              <v-btn color="primary" width="150px" @click="createTodo()"> Create </v-btn>
          </div>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import TodoList from "../../components/todos/todoList.vue";
export default {
  components: {
    TodoList,
  },
  data() {
    return {
      showToDoModal: false,
      form: {
        title: "",
        description: "",
      },
    };
  },
  computed: {
    token() {
      return this.$store.getters.getToken;
    }
  },
  mounted() {
    console.log(this.token);
    this.$store.dispatch("doGetToDos");
    // this.$store.dispatch("doGetToDos");
  },
  methods: {
    async createTodo() {
      this.showToDoModal = !this.showToDoModal;
      let param = {
        title: this.form.title,
        description: this.form.description,
      };
      await this.$store.dispatch("createTodo", param);
      this.$store.dispatch("doGetToDos");
      this.showToDoModal = false
    },
    closeDialog() {
      this.showToDoModal = !this.showToDoModal;
    },
  },
};
</script>

<style lang="scss" scoped></style>
