/* padding */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}

/* margin */
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* width */
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}