<template>
    <div>
        <v-card v-for="(list, index) in toDoList" :key="index" class="p-2 my-4">
            <v-dialog v-model="showToDoModal" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                    <div class="d-flex align-center justify-space-between" v-bind="attrs" v-on="on" :item="list[index]">
                        <div>
                            <v-card-title>{{list.title}}</v-card-title>
                        </div>
                        <v-dialog v-model="isDeleteTodo" max-width="450px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn fab
                                    dark
                                    small
                                    color="error"
                                    elevation="2"
                                    v-bind="attrs"
                                    v-on="on">
                                    <v-icon dark>mdi-delete</v-icon>
                                </v-btn>
                            </template>
                            <v-card class="p-2">
                                <div class="d-flex justify-center">
                                    <v-card-title>Do you want to detlete {{list.title}}?</v-card-title>
                                </div>
                                <div class="d-flex align-center justify-space-around mt-1">
                                    <div>
                                        <v-btn color="error" @click="isDeleteTodo = false">Cancel</v-btn>
                                    </div>
                                    <div>
                                        <v-btn color="primary" @click="deleteTodo(list._id)">Confirm</v-btn>
                                    </div>
                                </div>
                            </v-card>
                        </v-dialog>
                    </div>
                    <v-card-text>{{list.description}}</v-card-text>
                </template>
                <v-card class="p-2">
                    <label>Title: </label>
                    <v-text-field
                        placeholder="Input the title"
                        outlined
                        class="mt-1"
                        v-model="form.title"
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <label>Description: </label>
                    <v-textarea
                        placeholder="Input the description"
                        outlined
                        class="mt-1"
                        v-model="form.description"
                    ></v-textarea>
                    <div class="d-flex align-center justify-space-between">
                        <v-btn color="error" width="150px" @click="showToDoModal = false"> Cancel </v-btn>
                        <v-btn color="primary" width="150px" @click="editTodo(list[index]._id)"> Edit </v-btn>
                    </div>
                </v-card>
            </v-dialog>
        </v-card>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                isDeleteTodo: false,
                showToDoModal: false,
                form: {
                    title: '',
                    description: ''
                },
                item: {}
            }
        },
        computed: {
            toDoList() {
                return this.$store.getters.getTodos;
            },
        },
        mounted () {
            console.log(this.toDoList);
        },
        methods: {
            async deleteTodo (id) {
                await this.$store.dispatch("deleteTodo", id);
                this.$store.dispatch("doGetToDos");
                this.isDeleteTodo = false
            },
            async editTodo (id) {
                console.log(id);
                let param = {
                    title: this.form.title,
                    description: this.form.description
                }
                await this.$store.dispatch('editTodo', id, param)
                this.$store.dispatch("doGetToDos");
                this.showToDoModal = false
            }
        }
    }
</script>

<style lang="scss" scoped>
    .round-btn-red {
        border-radius: 100%;
        background-color: red;
        width: 20px;
        color: #fff;
    }
</style>