<template>
    <v-flex justify="center" align="center" class="inpage-container">
        <v-card outlined shaped elevation="2" width="50%" class="d-flex justify-center">
            <div class="w-100 p-1">
              <div>
                <v-card-title>Username: </v-card-title>
                <v-text-field v-model="username"></v-text-field>
              </div>
              <div>
                <v-card-title>Password: </v-card-title>
                <v-text-field type="password" v-model="password"></v-text-field>
              </div>
              <div class="d-flex justify-center mt-1">
                <v-btn color="primary" @click="doLogin()">LOGIN</v-btn>
              </div>
            </div>
        </v-card>
    </v-flex>
</template>

<script>
export default {
  name: 'IndexPage',
  data () {
    return {
      username: '',
      password: '',
      token: ''
    }
  },
  methods: {
    async doLogin () {
      let param = {
        username: this.username,
        password: this.password
      }
      const token = await this.$axios.$post(`${process.env.api}/todo/users/auth`, param)
      this.$store.commit('setToken', token.token)
      this.$router.push('/todos')
    }
  }
}
</script>

<style scoped>
.inpage-container {
  padding: 2rem;
}
</style>
